.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}
.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
    
}
.portfolio__item-image {
    border-radius: 0.5rem;
    overflow: hidden;
}
.portfolio__item-image img {
    height: 225px;
}
.portfolio__item h3 {
    margin: 1.5rem 0 1.5rem;
}
.portfolio__item a {
  margin-left: 1rem;
}

@media (min-width: 600px) and (max-width: 1024px) {
    .portfolio__container {
        width: 70% !important;
        margin: auto;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .portfolio__item-image img {
        height: 300px;
    }
    .portfolio__item a {
        margin-left: 1rem;
      }
      .portfolio__item h3 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

@media (min-width: 320px) and (max-width: 599px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}